<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale=1"/>

    <title>Login</title>
    <link href="http://localhost:3579/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="container">
    <div class="Page-header">
        <h1 style="display: inline-block">Login Demo <small>using fake database</small>
        </h1>
        <h1 style="display: inline-block" class="pull-right"><small><a href="http://localhost:3579" title="Click to return to home page">Home <span class="glyphicon glyphicon-home"></span></a></small>
        </h1>
    </div>


</div>
</body>
</html>