@Master['firstView/master.html']

@Section['Body']
    <h2>I'm some content that's defined in hellonancy.html</h2>
    <p>and I've brought a friend to the party</p>
    @Partial['firstView/Partial.html']
@EndSection


<!--<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Hello Nancy FX</title>
</head>
<body>
    @If.Model.HasNames
        <h1>Names</h1>
        @Each.Model.Names
            <h2>@Current</h2>
        @EndEach
    @EndIf
a
    @If.IsError
    <h2 style="color: Red;">Oh Noes:</h2>
    <p> @!Model.ErrorMessage</p>
    <p> @Model.ErrorMessage</p>
    
    @EndIf

    @IfNot.IsError
        <h2 style="color: Green;">Phew, no errors...</h2>
    @EndIf


</body>
</html>-->